[EPIC] Extend integration UI and add CLI for external block storage integration (effort: 4)

Extend integration UI and add CLI for external block storage integration (effort: 4)
---
## Background

- A lot of financial institution have existing SAN architecture that powered their virtualization and storage needs
- Our HCI architecture is not fully compatible with SAN storage architecture reducing customer willingness to adopt

## Proposed Solution

### Primary Solution: Native SAN integration as per OpenStack documentation

1. Multipath configuration that recognizes common, most popular SAN storage devices 
2. UI or CLI configuration setup that takes a customer through integrating their SAN storage solution 
3. Onboard flow: Set HBA and SAN mapping -> Configure API access to storage backend -> Enable Cinder backend -> Validate configuration -> done

### Alternative Solution: SAN-backed clustered LVM as storage backend

1. Will introduce complexity into the environment and requirement of managing cLVM at the cluster level
2. Similar LUN attachment experience to VMware
3. Onboard flow: Set HBA and SAN mapping -> Map LUN to host WWN -> Configure LVM details on multipath SAN disk -> Enable Cinder backend -> Validate configuration -> done

Duplicate of https://github.com/bigstack-oss/cubecos-private/issues/2

## Progress Update

- Successfully set up Cinder, Glance, and Manila to utilize SAN as their storage backends
- Solved several issues from @bigstack-brian-su pioneer research work https://github.com/bigstack-oss/cubecos-private/issues/2 , #142 , and https://github.com/bigstack-oss/cubecos-private/issues/3 . Great thanks to @bigstack-brian-su 's leading research on this topic.

## Background Information before the Meeting

### Information Needed Before Configuring

- Multipath configurations set on the host

<details>
  <summary>multipath -t</summary>

```bash
defaults {
	verbosity 2
	polling_interval 5
	max_polling_interval 20
	reassign_maps "no"
	multipath_dir "/lib64/multipath"
	path_selector "service-time 0"
	path_grouping_policy "failover"
	uid_attribute "ID_SERIAL"
	prio "const"
	prio_args ""
	features "0"
	path_checker "tur"
	alias_prefix "mpath"
	failback "manual"
	rr_min_io 1000
	rr_min_io_rq 1
	max_fds "max"
	rr_weight "uniform"
	queue_without_daemon "no"
	allow_usb_devices "no"
	flush_on_last_del "unused"
	user_friendly_names "yes"
	fast_io_fail_tmo 5
	bindings_file "/etc/multipath/bindings"
	wwids_file "/etc/multipath/wwids"
	prkeys_file "/etc/multipath/prkeys"
	log_checker_err "always"
	all_tg_pt "no"
	retain_attached_hw_handler "yes"
	detect_prio "yes"
	detect_checker "yes"
	force_sync "yes"
	strict_timing "no"
	deferred_remove "no"
	config_dir "/etc/multipath/conf.d"
	delay_watch_checks "no"
	delay_wait_checks "no"
	san_path_err_threshold "no"
	san_path_err_forget_rate "no"
	san_path_err_recovery_time "no"
	marginal_path_err_sample_time "no"
	marginal_path_err_rate_threshold "no"
	marginal_path_err_recheck_gap_time "no"
	marginal_path_double_failed_time "no"
	find_multipaths "on"
	uxsock_timeout 4000
	retrigger_tries 0
	retrigger_delay 10
	missing_uev_wait_timeout 30
	skip_kpartx "no"
	disable_changed_wwids "ignored"
	remove_retries 0
	ghost_delay "no"
	auto_resize "never"
	find_multipaths_timeout -10
	enable_foreign "NONE"
	marginal_pathgroups "off"
	recheck_wwid "no"
}
blacklist {
	devnode "!^(sd[a-z]|dasd[a-z]|nvme[0-9])"
	device {
		vendor "SGI"
		product "Universal Xport"
	}
	device {
		vendor "^DGC"
		product "LUNZ"
	}
	device {
		vendor "EMC"
		product "LUNZ"
	}
	device {
		vendor "DELL"
		product "Universal Xport"
	}
	device {
		vendor "FUJITSU"
		product "Universal Xport"
	}
	device {
		vendor "IBM"
		product "Universal Xport"
	}
	device {
		vendor "IBM"
		product "S/390"
	}
	device {
		vendor "LENOVO"
		product "Universal Xport"
	}
	device {
		vendor "(NETAPP|LSI|ENGENIO)"
		product "Universal Xport"
	}
	device {
		vendor "STK"
		product "Universal Xport"
	}
	device {
		vendor "SUN"
		product "Universal Xport"
	}
	device {
		vendor "(Intel|INTEL)"
		product "VTrak V-LUN"
	}
	device {
		vendor "Promise"
		product "VTrak V-LUN"
	}
	device {
		vendor "Promise"
		product "Vess V-LUN"
	}
}
blacklist_exceptions {
}
devices {
	device {
		vendor "NVME"
		product ".*"
		uid_attribute "ID_WWN"
		path_checker "none"
		retain_attached_hw_handler "no"
	}
	device {
		vendor "APPLE"
		product "Xserve RAID"
		path_grouping_policy "multibus"
	}
	device {
		vendor "3PARdata"
		product "VV"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 18
		fast_io_fail_tmo 10
		dev_loss_tmo "infinity"
		vpd_vendor "hp3par"
	}
	device {
		vendor "NVME"
		product "HPE Alletra"
		path_grouping_policy "group_by_prio"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "DEC"
		product "HSG80"
		path_grouping_policy "group_by_prio"
		path_checker "hp_sw"
		hardware_handler "1 hp_sw"
		prio "hp_sw"
		no_path_retry "queue"
	}
	device {
		vendor "HP"
		product "A6189A"
		path_grouping_policy "multibus"
		no_path_retry 12
	}
	device {
		vendor "(COMPAQ|HP)"
		product "(MSA|HSV)1[01]0"
		path_grouping_policy "group_by_prio"
		path_checker "hp_sw"
		hardware_handler "1 hp_sw"
		prio "hp_sw"
		no_path_retry 12
	}
	device {
		vendor "(COMPAQ|HP)"
		product "MSA VOLUME"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 12
	}
	device {
		vendor "(COMPAQ|HP)"
		product "(HSV1[01]1|HSV2[01]0|HSV3[046]0|HSV4[05]0)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 12
	}
	device {
		vendor "HP"
		product "(MSA2[02]12fc|MSA2012i)"
		path_grouping_policy "multibus"
		no_path_retry 18
	}
	device {
		vendor "HP"
		product "(MSA2012sa|MSA23(12|24)(fc|i|sa)|MSA2000s VOLUME)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 18
	}
	device {
		vendor "(HP|HPE)"
		product "MSA [12]0[4567]0 (SAN|SAS|FC|iSCSI)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 18
	}
	device {
		vendor "HP"
		product "(HSVX700|HSVX740)"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 12
	}
	device {
		vendor "HP"
		product "LOGICAL VOLUME"
		path_grouping_policy "multibus"
		no_path_retry 12
	}
	device {
		vendor "HP"
		product "(P2000 G3 FC|P2000G3 FC/iSCSI|P2000 G3 SAS|P2000 G3 iSCSI)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 18
	}
	device {
		vendor "LEFTHAND"
		product "(P4000|iSCSIDisk|FCDISK)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 18
	}
	device {
		vendor "Nimble"
		product "Server"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "SGI"
		product "TP9100"
		path_grouping_policy "multibus"
	}
	device {
		vendor "SGI"
		product "TP9[3457]00"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SGI"
		product "IS"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SGI"
		product "^DD[46]A-"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "DDN"
		product "SAN DataDirector"
		path_grouping_policy "multibus"
	}
	device {
		vendor "DDN"
		product "^EF3010"
		path_grouping_policy "multibus"
		no_path_retry 30
	}
	device {
		vendor "DDN"
		product "^(EF3015|S2A|SFA)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "NEXENTA"
		product "COMSTAR"
		path_grouping_policy "group_by_serial"
		no_path_retry 30
	}
	device {
		vendor "TEGILE"
		product "(ZEBI-(FC|ISCSI)|INTELLIFLASH)"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 10
	}
	device {
		vendor "EMC"
		product "SYMMETRIX"
		path_grouping_policy "multibus"
		no_path_retry 6
	}
	device {
		vendor "^DGC"
		product "^(RAID|DISK|VRAID)"
		product_blacklist "LUNZ"
		path_grouping_policy "group_by_prio"
		path_checker "emc_clariion"
		hardware_handler "1 emc"
		prio "emc"
		failback "immediate"
		no_path_retry 60
		detect_checker "no"
	}
	device {
		vendor "EMC"
		product "Invista"
		product_blacklist "LUNZ"
		path_grouping_policy "multibus"
		no_path_retry 5
	}
	device {
		vendor "XtremIO"
		product "XtremApp"
		path_grouping_policy "multibus"
	}
	device {
		vendor "DELL"
		product "^MD3"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "NVME"
		product "^EMC PowerMax_"
		path_grouping_policy "multibus"
	}
	device {
		vendor "DellEMC"
		product "PowerStore"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 3
		fast_io_fail_tmo 15
	}
	device {
		vendor "DellEMC"
		product "^ME"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
	}
	device {
		vendor "FSC"
		product "CentricStor"
		path_grouping_policy "group_by_serial"
	}
	device {
		vendor "FUJITSU"
		product "ETERNUS_DX(H|L|M|400|8000)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 10
	}
	device {
		vendor "(EUROLOGC|EuroLogc)"
		product "FC2502"
		path_grouping_policy "multibus"
	}
	device {
		vendor "FUJITSU"
		product "E[234]000"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 10
	}
	device {
		vendor "FUJITSU"
		product "E[68]000"
		path_grouping_policy "multibus"
		no_path_retry 10
	}
	device {
		vendor "FUJITSU"
		product "ETERNUS_AHB"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "(HITACHI|HP|HPE)"
		product "^OPEN-"
		path_grouping_policy "multibus"
	}
	device {
		vendor "HITACHI"
		product "^DF"
		path_grouping_policy "group_by_prio"
		prio "hds"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "HITACHI"
		product "^DF600F"
		path_grouping_policy "multibus"
	}
	device {
		vendor "IBM"
		product "ProFibre 4000R"
		path_grouping_policy "multibus"
	}
	device {
		vendor "IBM"
		product "^1722-600"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1724"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1726"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1742"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1746"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1813"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1814"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1815"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^1818"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^3526"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^(3542|3552)"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "IBM"
		product "^2105"
		path_grouping_policy "multibus"
		no_path_retry "queue"
	}
	device {
		vendor "IBM"
		product "^1750500"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "IBM"
		product "^2107900"
		path_grouping_policy "group_by_prio"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "IBM"
		product "^2145"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "IBM"
		product "S/390 DASD ECKD"
		product_blacklist "S/390"
		path_grouping_policy "multibus"
		uid_attribute "ID_UID"
		path_checker "directio"
		no_path_retry "queue"
	}
	device {
		vendor "IBM"
		product "S/390 DASD FBA"
		product_blacklist "S/390"
		path_grouping_policy "multibus"
		uid_attribute "ID_UID"
		path_checker "directio"
		no_path_retry "queue"
	}
	device {
		vendor "IBM"
		product "^IPR"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "IBM"
		product "1820N00"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "(XIV|IBM)"
		product "(NEXTRA|2810XIV)"
		path_grouping_policy "group_by_prio"
		failback 15
		no_path_retry "queue"
	}
	device {
		vendor "(TMS|IBM)"
		product "(RamSan|FlashSystem)"
		path_grouping_policy "multibus"
	}
	device {
		vendor "IBM"
		product "^(DCS9900|2851)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "AIX"
		product "VDASD"
		path_grouping_policy "multibus"
		no_path_retry 60
	}
	device {
		vendor "IBM"
		product "3303[ ]+NVDISK"
		no_path_retry 60
	}
	device {
		vendor "AIX"
		product "NVDISK"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 60
	}
	device {
		vendor "LENOVO"
		product "DE_Series"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "NETAPP"
		product "LUN"
		path_grouping_policy "group_by_prio"
		features "2 pg_init_retries 50"
		prio "ontap"
		failback "immediate"
		no_path_retry "queue"
		flush_on_last_del "always"
		dev_loss_tmo "infinity"
		user_friendly_names "no"
	}
	device {
		vendor "(NETAPP|LSI|ENGENIO)"
		product "INF-01-00"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SolidFir"
		product "SSD SAN"
		path_grouping_policy "multibus"
		no_path_retry 24
	}
	device {
		vendor "NVME"
		product "^NetApp ONTAP Controller"
		path_grouping_policy "multibus"
		no_path_retry "queue"
	}
	device {
		vendor "NEC"
		product "DISK ARRAY"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
	}
	device {
		vendor "^Pillar"
		product "^Axiom"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
	}
	device {
		vendor "^Oracle"
		product "^Oracle FS"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
	}
	device {
		vendor "STK"
		product "BladeCtlr"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "STK"
		product "OPENstorage"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "STK"
		product "FLEXLINE 380"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SUN"
		product "StorEdge 3"
		path_grouping_policy "multibus"
	}
	device {
		vendor "SUN"
		product "STK6580_6780"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SUN"
		product "CSM[12]00_R"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SUN"
		product "LCSM100_[IEFS]"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SUN"
		product "SUN_6180"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SUN"
		product "ArrayStorage"
		product_blacklist "Universal Xport"
		path_grouping_policy "group_by_prio"
		path_checker "rdac"
		features "2 pg_init_retries 50"
		hardware_handler "1 rdac"
		prio "rdac"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "SUN"
		product "(Sun Storage|ZFS Storage|COMSTAR)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "PIVOT3"
		product "RAIGE VOLUME"
		path_grouping_policy "multibus"
		no_path_retry "queue"
	}
	device {
		vendor "(NexGen|Pivot3)"
		product "(TierStore|vSTAC)"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "(Intel|INTEL)"
		product "Multi-Flex"
		product_blacklist "VTrak V-LUN"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "(LIO-ORG|SUSE)"
		product "RBD"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 12
	}
	device {
		vendor "DataCore"
		product "SANmelody"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "DataCore"
		product "Virtual Disk"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry "queue"
	}
	device {
		vendor "PURE"
		product "FlashArray"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		fast_io_fail_tmo 10
	}
	device {
		vendor "HUAWEI"
		product "XSG1"
		path_grouping_policy "group_by_prio"
		failback "immediate"
		no_path_retry 15
	}
	device {
		vendor "KOVE"
		product "XPD"
		path_grouping_policy "multibus"
	}
	device {
		vendor "NFINIDAT"
		product "InfiniBox"
		path_grouping_policy "group_by_prio"
		path_selector "round-robin 0"
		prio "alua"
		failback 30
		rr_weight "priorities"
		no_path_retry "fail"
		rr_min_io 1
		rr_min_io_rq 1
		flush_on_last_del "always"
		fast_io_fail_tmo 15
		dev_loss_tmo 15
	}
	device {
		vendor "KMNRIO"
		product "K2"
		path_grouping_policy "multibus"
	}
	device {
		vendor "NEXSAN"
		product "NXS-B0"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 15
	}
	device {
		vendor "NEXSAN"
		product "SATAB"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 15
	}
	device {
		vendor "Nexsan"
		product "(NestOS|NST5000)"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "VIOLIN"
		product "SAN ARRAY$"
		path_grouping_policy "group_by_serial"
		no_path_retry 30
	}
	device {
		vendor "VIOLIN"
		product "SAN ARRAY ALUA"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "VIOLIN"
		product "CONCERTO ARRAY"
		path_grouping_policy "multibus"
		no_path_retry 30
	}
	device {
		vendor "(XIOTECH|XIOtech)"
		product "ISE"
		path_grouping_policy "multibus"
		no_path_retry 12
	}
	device {
		vendor "(XIOTECH|XIOtech)"
		product "IGLU DISK"
		path_grouping_policy "multibus"
		no_path_retry 30
	}
	device {
		vendor "(XIOTECH|XIOtech)"
		product "Magnitude"
		path_grouping_policy "multibus"
		no_path_retry 30
	}
	device {
		vendor "Vexata"
		product "VX"
		path_grouping_policy "multibus"
		no_path_retry 30
	}
	device {
		vendor "Promise"
		product "VTrak"
		product_blacklist "VTrak V-LUN"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "Promise"
		product "Vess"
		product_blacklist "Vess V-LUN"
		path_grouping_policy "group_by_prio"
		hardware_handler "1 alua"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "^IFT"
		product ".*"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "DotHill"
		product "SANnet"
		path_grouping_policy "multibus"
		no_path_retry 30
	}
	device {
		vendor "DotHill"
		product "R/Evo"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "DotHill"
		product "^DH"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "AStor"
		product "NeoSapphire"
		path_grouping_policy "multibus"
		no_path_retry 30
	}
	device {
		vendor "INSPUR"
		product "MCS"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
	}
	device {
		vendor "MacroSAN"
		product "LU"
		path_grouping_policy "group_by_prio"
		prio "alua"
		failback "immediate"
		no_path_retry 30
	}
	device {
		vendor "COMPELNT"
		product "Compellent Vol"
		path_grouping_policy "group_by_prio"
		failback "immediate"
		no_path_retry "queue"
		flush_on_last_del "always"
		user_friendly_names "no"
	}
}
overrides {
}
```

</details>

- Currently set Cinder storage services and volume types
- Currently set Glance store Cinder storage backend multipath settings
  - Using multipath or not
  - Enforcing multipath or not
- Current system-wide default storage service and volume type
- Warnings
  - Ensure data integrity to make data accurate and consistent
    - Ensure storage devices have hardware redundancy configured
    - Turn on write-order consistency and cache mirroring settings if the storage devices support them
    - Deploy snapshot and replication capabilities of storage devices
    - As pointed out in https://github.com/bigstack-oss/cubecos-private/issues/2#issuecomment-3217780791, we have near zero ability to detect data corruptions at the block level. We would need to rely it on SAN, so we need to remind operators to turn on relevant settings of SAN.

### Information Needed for Configuring

- Multipath settings (optional)

```yaml
defaults:
  key: value
blacklist:
  devnode: regexp # string
  devices:
    - vendor: vendor_name # string
      product: product_name_or_id # string
      key: value
blacklist_exceptions:
  devnode: regexp # string
  devices:
    - vendor: vendor_name # string
      product: product_name_or_id # string
      key: value
devices:
  devices:
    - vendor: vendor_name # string
      product: product_name_or_id # string
      key: value
overrides:
  key: value
multipaths:
  multipaths:
    - wwid: multipath_wwid # string
      key: value
```

- Cinder storage backend driver specific settings
  - Storage host/cluster name
  - Backend specific settings

```yaml
name: name # string [a-zA-Z0-9\-_]
driver_section: # driver specific settings
  - key: value
extra_settings: # overriding other settings
  section_header:
    - key: value
```

- Cinder volume type
  - Name
  - Properties: extra settings on the volume type, mostly, to turn on driver specific functions

```yaml
name: name # string [a-zA-Z0-9\-_]
properties:
  - key: value
```

### Provisional Interfaces for cube-cos-api

Redacted. Please refer to https://github.com/bigstack-oss/cubecos/issues/126#issuecomment-3310949912


As discussed, we would make the following changes,

- Make storage service and volume type share the same value
- Accommodate the interfaces for the UI/UX flow
  - Import model list
    - vendor
    - product/model
    - properties: driver section key names, string array
    - optional
      - multipath: multipath setting object
      - extraProperties:
        - [section_header]: other section key names, string array
      - volumeTypeProperties: volume type property key name, string array
  - Set Cinder storage service
- Map a device to a service using the `deviceId` by combining the value of `vendor` and `model`

The amended interfaces are still pending.


The revised interfaces would be the following. We are having only three resources to manipulate now. They are `model`, `storage`, and `default_storage`. Different from the previous proposal, all attributes in the payload are now required.

Redacted. Please refer to https://github.com/bigstack-oss/cubecos/issues/126#issuecomment-3310949912


Redacted. Please refer to https://github.com/bigstack-oss/cubecos/issues/126#issuecomment-3310949912


Just discovered that we might need to support the generic NFS driver also. There is another file to read and write. Would update the interfaces for this change.

https://docs.openstack.org/cinder/yoga/configuration/block-storage/drivers/nfs-volume-driver.html


The updated interfaces after considering extra configuration files.

Redacted. Please refer to https://github.com/bigstack-oss/cubecos/issues/126#issuecomment-3310949912


update:


1). COS: will add another SDK subcmd to valid/dryrun the storage settings

Redacted. Please refer to https://github.com/bigstack-oss/cubecos/issues/126#issuecomment-3310949912


After some discussions, we would make the following changes to the design:

- Built-in models should be included in the code, and the model list should be stored as static files instead of a policy
- Should show pretty vendor and product name, should keep driver name inside the model instead of storage settings


After digging through the source code of Cinder, just realized that @raven-pan and @traviswu-bigstack are right. Each model and connection type could be uniquely identified with a driver. With the same product and different connection type, the drivers are different. So, essentially, the "model list" is actually referring to a list of driver configs.

So, the more accurate term might be "Driver" instead of either "Model" or "Name". However, this is not yet confirmed. I would come back to this after finishing the implementation.

@jdjgya Although the structure of the interfaces would not be changed, the function names, some field names, and the formation of ID of resource Model (would be Driver afterwards) would be changed. Sorry, for the late changes. I would update the confirmed interfaces after finishing the implementation.

# Interface Definitions

The implemented details of the interfaces, changes in the future in M2 would also be updated in this comment.

## Get JSON parsing error codes

`hex_sdk json_get_error_codes`

- Output

stdout:

```js
{
  "10": "invalid json",
  "11": "parsing failed",
  "12": "key missing",
  "13": "not array"
}
```

## Put a model

`hex_sdk cinder_put_model`

- Input

```js
{
  driver: "",
  vendor: "",
  type: "",
  multipath: [
    {
      section: "",
      attributes: [
        {
          key: "",
          value: "",
        },
      ],
      subSections: [
        {
          section: "",
          attributes: [
            {
              key: "",
              value: "",
            },
          ],
        },
      ],
    },
  ],
  storage: {
    service: {
      driverSection: [
        {
          key: "",
          value: "",
        },
      ],
      extraSettings: [
        {
          sectionHeader: "",
          settings: [
            {
              key: "",
              value: "",
            },
          ],
        },
      ],
     extraConfigFiles: [
       {
         name: "", // name = test.conf => file path = /etc/cinder/external_storage/test.conf
         content: "", // base64 encoded file content
       },
     ],
    },
    volumeType: {
      settings: [
        {
          key: "",
          value: "",
        },
      ],
    },
    image: {
      useMultipath: true,
      forceMultipath: true,
    },
  },
}
```

> ID for the put operation: driver. The payload of `driver = abc` would override configurations set by `driver = abc`.
> Name in `extraConfigFiles` would be under `/etc/cinder/external_storage_extra_configs/`, e.g., name = test.conf => file path = `/etc/cinder/external_storage_extra_configs/test.conf`

- Output

1. Exit status: 0

stdout:

```js
{
  message: "model driver_xxx created",
}
```

The model creation or update is successful.

2. Exit status: 1

stderr:

```js
{
  message: "failed to write the model file",
}
```

Failed to save the model file.

3. Exit status: 2

stderr:

```js
{
  message: "failed to write the multipath config file",
}
```

Failed to save the multipath config.

4. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

5. Exit status: 11

stderr:

```js
{
  message: "failed to convert the input JSON to YAML",
}
```

6. Exit status: 12

stderr:

```js
{
  message: "a field is missing",
}
```

A required field in JSON is missing.

7. Exit status: 13

stderr:

```js
{
  message: "a field should be an array",
}
```

## Put models

`hex_sdk cinder_put_models`

- Input

```js
[
  {
    driver: "",
    vendor: "",
    type: "",
    multipath: [
      {
        section: "",
        attributes: [
          {
            key: "",
            value: "",
          },
        ],
        subSections: [
          {
            section: "",
            attributes: [
              {
                key: "",
                value: "",
              },
            ],
          },
        ],
      },
    ],
    storage: {
      service: {
        driverSection: [
          {
            key: "",
            value: "",
          },
        ],
        extraSettings: [
          {
            sectionHeader: "",
            settings: [
              {
                key: "",
                value: "",
              },
            ],
          },
        ],
      extraConfigFiles: [
        {
          name: "", // name = test.conf => file path = /etc/cinder/external_storage/test.conf
          content: "", // base64 encoded file content
        },
      ],
      },
      volumeType: {
        settings: [
          {
            key: "",
            value: "",
          },
        ],
      },
      image: {
        useMultipath: true,
        forceMultipath: true,
      },
    },
  }
]
```

- Output

1. Exit status: 0

stdout:

```js
{
  message: "no model created"
}

// or

{
  message: "model driver_aaa, driver_bbb created"
}
```

2. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string"
}
```

3. Exit status: 13

stderr:

```js
{
  message: "the input should be an array"
}
```

## Get a model

`hex_sdk cinder_get_model`

- Input

```js
{
    driver: "",
}
```

- Output

1. Exit status: 0

stdout:

```js
{
  driver: "",
  vendor: "",
  type: "",
  multipath: [
    {
      section: "",
      attributes: [
        {
          key: "",
          value: "",
        },
      ],
      subSections: [
        {
          section: "",
          attributes: [
            {
              key: "",
              value: "",
            },
          ],
        },
      ],
    },
  ],
  storage: {
    service: {
      driverSection: [
        {
          key: "",
          value: "",
        },
      ],
      extraSettings: [
        {
          sectionHeader: "",
          settings: [
            {
              key: "",
              value: "",
            },
          ],
        },
      ],
     extraConfigFiles: [
       {
         name: "", // name = test.conf => file path = /etc/cinder/external_storage/test.conf
         content: "", // base64 encoded file content
       },
     ],
    },
    volumeType: {
      settings: [
        {
          key: "",
          value: "",
        },
      ],
    },
    image: {
      useMultipath: true,
      forceMultipath: true,
    },
  },
}
```

2. Exit status: 1

stderr:

```js
{
  message: "the model does not exist",
}
```

3. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

4. Exit status: 11

stderr:

```js
{
  message: "failed to convert the input JSON to YAML",
}
```

5. Exit status: 12

stderr:

```js
{
  message: "a field is missing",
}
```

## Get models

`hex_sdk cinder_get_models`

- Output

stdout:

```js
[
  {
    driver: "",
    vendor: "",
    type: "",
    multipath: [
      {
        section: "",
        attributes: [
          {
            key: "",
            value: "",
          },
        ],
        subSections: [
          {
            section: "",
            attributes: [
              {
                key: "",
                value: "",
              },
            ],
          },
        ],
      },
    ],
    storage: {
      service: {
        driverSection: [
          {
            key: "",
            value: "",
          },
        ],
        extraSettings: [
          {
            sectionHeader: "",
            settings: [
              {
                key: "",
                value: "",
              },
            ],
          },
        ],
      extraConfigFiles: [
        {
          name: "", // name = test.conf => file path = /etc/cinder/external_storage/test.conf
          content: "", // base64 encoded file content
        },
      ],
      },
      volumeType: {
        settings: [
          {
            key: "",
            value: "",
          },
        ],
      },
      image: {
        useMultipath: true,
        forceMultipath: true,
      },
    },
  }
]
```

## Delete a model

`hex_sdk cinder_delete_model`

- Input

```js
{
  driver: "",
}
```

- Output

1. Exit status: 0

stdout:

```js
{
  message: "model driver_xxx deleted",
}
```

2. Exit status: 1

stderr:

```js
{
  message: "the model does not exist",
}
```

3. Exit status: 2

stderr:

```js
{
  message: "failed to restore the built-in model multipath settings",
}
```

4. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

5. Exit status: 12

stderr:

```js
{
  message: "field driver should not be blank",
}
```

> Deleting a built-in model is not supported. If really try so, exit status 1 and stderr `{"message": "the model does not exist"}` would be returned.

## Put a storage

`hex_sdk cinder_put_storage`

- Input

```js
{
  name: "",
  driver: "",
  isDefault: true,
  storage: {
    service: {
      driverSection: [
        {
          key: "",
          value: "",
        }
      ],
      extraSettings: [
        {
          sectionHeader: "",
          settings: [
            {
              key: "",
              value: "",
            },
          ],
        },
      ],
      extraConfigFiles: [
        {
          name: "", // name = test.conf => file path = /etc/cinder/external_storage_extra_configs/test.conf
          content: "", // base64 encoded file content
        },
      ],
    },
    volumeType: {
      settings: [
        {
          key: "",
          value: "",
        },
      ],
    },
    image: {
      useMultipath: true,
      forceMultipath: true,
    },
  },
}
```

- Output

1. Exit status: 0

stdout:

```js
{
  message: "storage storage_xxx created",
}

// or

{
  message: "storage storage_xxx created, volume type properties ignored",
}

// or

{
  message: "storage storage_xxx created, volume type properties failed to apply",
}
```

2. Exit status: 1

stderr:

```js
{
  message: "name storage_xxx is reserved",
}
```

3. Exit status: 3

stderr:

```js
{
  message: "failed to write the storage config file",
}
```

4. Exit status: 4

stderr:

```js
{
  message: "failed to write the extra config ownership file",
}
```

5. Exit status: 5

stderr:

```js
{
  message: "failed to write the storage extra config files",
}
```

6. Exit status: 6

stderr:

```js
{
  message: "failed to apply the storage config",
}
```

7. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

8. Exit status: 11

stderr:

```js
{
  message: "failed to convert the input JSON to YAML",
}
```

9. Exit status: 12

stderr:

```js
{
  message: "field name should not be blank",
}

// or

{
  message: "field driver should not be blank",
}

// or

{
  message: "field storage should not be blank",
}
```

10. Exit status: 13

stderr:

```js
{
  message: "a field should be an array",
}

// or

{
  message: "field extraConfigFiles should be an array",
}
```

> Attribute `name` is the ID of this put operation.
> Reserved names: `__DEFAULT__`, `CubeStorage`, `cube`, `ceph`, hostnames of all nodes, `*-pool`, and `*-ssd`.

## Get a storage

`hex_sdk cinder_get_storage`

- Input

```js
{
  name: "",
}
```

- Output

1. Exit status: 0

stdout:

```js
{
  name: "",
  driver: "",
  vendor: "",
  model: "",
  isDefault: true,
  isBuiltin: false,
  updateTime: "", // RFC 7493, Section 4.3 (ISO 8601 / RFC 3339)
  storage: {
    service: {
      driverSection: [
        {
          key: "",
          value: "",
        }
      ],
      extraSettings: [
        {
          sectionHeader: "",
          settings: [
            {
              key: "",
              value: "",
            },
          ],
        },
      ],
      extraConfigFiles: [
        {
          name: "", // name = test.conf => file path = /etc/cinder/external_storage_extra_configs/test.conf
          content: "", // base64 encoded file content
        },
      ],
    },
    volumeType: {
      settings: [
        {
          key: "",
          value: "",
        },
      ],
    },
    image: {
      useMultipath: true,
      forceMultipath: true,
    },
  },
}
```

2. Exit status: 1

stderr:

```js
{
  message: "storage storage_xxx does not exist",
}

// or

{
  message: "failed to retrieve storage infos",
}
```

3. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

4. Exit status: 12

stderr:

```js
{
  message: "field name should not be blank",
}
```

## Get storages

`hex_sdk cinder_get_storages`

- Output

1. Exit status: 0

stdout:

```js
[
  {
    name: "",
    driver: "",
    vendor: "",
    model: "",
    isDefault: true,
    isBuiltin: false,
    updateTime: "", // RFC 7493, Section 4.3 (ISO 8601 / RFC 3339)
  },
]
```

2. Exit status: 1

stderr:

```js
{
  message: "failed to retrieve storage infos",
}
```

## Delete a storage

`hex_sdk cinder_delete_storage`

- Input

```js
{
  name: "",
}
```

- Output

1. Exit status: 0

stdout:

```js
{
  message: "storage storage_xxx deleted",
}
```

2. Exit status: 1

stderr:

```js
{
  message: "volume type storage_xxx is still in use",
}
```

3. Exit status: 2

stderr:

```js
{
  message: "failed to delete storage storage_xxx",
}
```

4. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

5. Exit status: 12

stderr:

```js
{
  message: "field name should not be blank",
}
```

## Set the default storage

`hex_sdk cinder_set_default_storage`

- Input

```js
{
  name: "",
}
```

- Output

1. Exit status: 0

stdout:

```js
{
  message: "the default storage is set to storage_xxx",
}
```

2. Exit status: 1

stderr:

```js
{
  message: "storage storage_xxx does not exist",
}
```

3. Exit status: 2

stderr:

```js
{
  message: "failed to set the default storage to storage_xxx",
}
```

4. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

5. Exit status: 12

stderr:

```js
{
  message: "field name should not be blank",
}
```

## Get the default storage

`hex_sdk cinder_get_default_storage`

- Output

1. Exit status: 0

stdout:

```js
{
  name: "",
}
```

## Test a storage

`hex_sdk cinder_test_storage`

- Input

```js
{
  name: "",
}
```

- Output

1. Exit status: 0

stdout:

```js
{
  isCinderServiceUp: true,
  isTestVolumeSuccessful: true,
}
```

2. Exit status: 1

stderr:

```js
{
  isCinderServiceUp: false,
  isTestVolumeSuccessful: false,
}

// or

{
  isCinderServiceUp: true,
  isTestVolumeSuccessful: false,
}
```

3. Exit status: 10

stderr:

```js
{
  message: "the input is not a valid JSON string",
}
```

4. Exit status: 12

stderr:

```js
{
  message: "field name should not be blank",
}
```

> We would need to use `hex_sdk cinder_put_storage` to create or update the storage infos first.

## Get the active multipath setting

`hex_sdk cinder_get_active_multipath_setting`

- Output

1. Exit status: 0

stdout:

```js
[
  {
    section: "",
    attributes: [
      {
        key: "",
        value: "",
      },
    ],
    subSections: [
      {
        section: "",
        attributes: [
          {
            key: "",
            value: "",
          },
        ],
      },
    ],
  },
]
```


@jdjgya For the interfaces,

Need to be called on all control and compute nodes:

- cinder_put_model
- cinder_put_models
- cinder_delete_model

Could be called on control nodes, or compute nodes, but maybe not ideal:

- cinder_get_model
- cinder_get_models

Could be called on control and compute nodes:

- cinder_get_active_multipath_setting

Need to be called only on control nodes:

- cinder_put_storage
- cinder_delete_storage
- cinder_set_default_storage
- cinder_test_storage

Could be called on control nodes:

- cinder_get_storage
- cinder_get_storages
- cinder_get_default_storage


The epic except #550 is ready in build `CUBE_3.1.0_20260105-0829_90aba45` on prod2 build server.

For the usage of the CLI, please refer to https://github.com/bigstack-oss/bigstack-document/issues/168 and https://github.com/bigstack-oss/cubecos/issues/513#issuecomment-3706201655 .

@bigstack-oss/qa As #550 is completed, the builtins for FC and iSCSI connections to Fujitsu Eternus DX200 S3 is added. It would be included in the coming builds.

For additional documentation regarding external storages, please refer to https://github.com/bigstack-oss/cube-dev-doc/blob/f4c83d1bfb4e2f3016dc823811cace705efeea9b/operation/external_storage_cinder_volume_backend.md .

## Manual Test : PASS 

### Version

CUBE_3.1.0_20251223-2227_ce92814

### Environment

10.32.140.10

### Architecture

test scope:

- [ ]  NFS
- [x]  Dell - FC Channel
- [ ]  Fujitsu - iSCSI 

<img width="1885" height="1105" alt="Image" src="https://github.com/user-attachments/assets/22ed115c-9ac6-49e0-a3b8-f41b89e43071" />


### Test Procedure

Basic 
- [x]  Create Volume
- [x]  Delete Volume
- [x]  Attach Volume
- [x]  Detach Volume
- [x]  Extend Volume
- [x]  Create Snapshot
- [x]  Delete Snapshot
- [x]  Create Volume from Snapshot
- [x]  Create Volume from Volume (clone)
- [x]  Create Image from Volume
    - [x]  **Status Available, Bootable: YES , Attached To: N/A**
- [x]  Volume Migration (host assisted)

Advance
- [x] Multi-Attach Support (Dell)
- [x] Extend an Attached Volume (Dell) 
- [x] Thin Provisioning (Dell & NFS)

OpenStack
   - [x]  Image import
       - [x]  From bigstack
       - [x]  From other hypervisor
           - [x]  file volume is less to 10 GB
           - [x]  file volume is bigger to 10 GB
   - [x]  Create VM
   - [x]  Live Migration
   - [ ]  Rolling upgrade (dell-emc-fc-sc + 3cc and webscale)
   - [x]  Instance HA
   - [ ]  K8s - rke2 + GPU(A2000)
   - [x]  APP-FW-2.0

### Reference

1. https://www.notion.so/bigstack/Extend-integration-UI-and-add-CLI-for-external-block-storage-integration-ver-3-1-0-Jim-Chen-2dcd14ce067180678cded020c9ad319f?source=copy_link



Need Spec. Note (Do not support rolling upgrade)

> Need Spec. Note (Do not support rolling upgrade)

@jimchen77 @bigstack-brian-su 

The related issue: https://github.com/bigstack-oss/bigstack-document/issues/234
